  /////////////////////////////////////////
 // Clients //////////////////////////////
/////////////////////////////////////////

.clients {

	.testimonials {
		padding: 0 45px;
		.cell {
			strong {
				display: block;
				font-size: 16px;
				font-size: 1rem;
			}
			@include max-screen(960px){
				display: table;
				padding: 0;
				width: 100%;
			}
		} // End Testimonial
	} // End Testimonials

	.middle {
		padding-top: 10px;
	}

	.clients-grid {
		ul {
			@extend  .clean;

			li {
				// background-image: radial-gradient(50% 45%, rgba(81, 84, 86, 0.45) 50%, rgba(65, 72, 79, 0.33) 100%);
				background-image: radial-gradient(50% 45%, rgba(81, 84, 86, 0.53) 50%, rgba(65, 72, 79, 0.33) 100%);
				border: 1px solid rgba(53, 53, 53, 0.15);
				height: 240px;
				position: relative;
				@extend .left;
				transition: .3s;
				width: 25%;

				// Logo Image
				img {
				    left: 50%;
					position: absolute;
				    top: 50%;
				    transform: translate(-50%, -50%);
				    width: 66%;
				    @include max-screen(767px){
						display: block;
						margin: 50px auto 50px;
			    		position: static;
						transform: none;
				    }
				}

				@include max-screen(960px){
					width: 50%;
				}
				
				@include max-screen(767px){
					height: auto;
					height: initial;
					width: 100%;
				}

			} // End Client
		} // End Clients List
	} // End Clients Grid

} // End Clients