  /////////////////////////////////////////
 // Directors ////////////////////////////
/////////////////////////////////////////

.directors {

	.video-player .video-controls .controls.right {
	    @include max-screen(767px){
	    	top: 15px;
	    }
	}	

	@include max-screen(768px){
		.middle {
			.tighten {
				padding-top: 0;
			}
		}

	}
	
	.middle {
	    padding: 35px 0px 0px 45px;
		
		@include max-screen(960px){
			padding: 0;
		}

		// Bio
		.inner {
			float: left;
			padding-right: 125px;
			padding-bottom: 50px;
			width: 66%;
			
			@include max-screen(960px){
				width: 100%;
				padding: 0 45px 45px;
			}

		} // End Bio
	
		.stills {
			float: right;
			width: 33%;

			@include max-screen(960px){
				float: left;
				width: 100%;
			}

			.cell {
				display: table;
				float: left;
				width: 50%;
				@include max-screen(960px){
					width: 25%;
				}
				@include max-screen(400px){
					width: 50%;
				}
			} // End Picture

		} // End Stills

	} // End Middle Bio / Pictures

	
	.work-outer {
		margin-bottom: 0;
	}

	.work-grid {
		margin-bottom: 0;
		@include max-screen(767px){
			.work-type {
				text-align: center;
			}
		}
	} // End Work Grid

} // End Directors