  /////////////////////////////////////////
 // Directors ////////////////////////////
/////////////////////////////////////////

.directors {

	.video-player .video-controls .controls.right {
	    @include max-screen(767px){
	    	top: 15px;
	    }
	}	

	.social-outer {
		height: 225px;		
	}

	@include max-screen(768px){
		.middle {
			.tighten {
				padding-top: 0;
			}
		}

	}
	
	.middle {
	    padding: 35px 45px 45px 45px;
		
		@include max-screen(960px){
			padding: 0;
		}

		// Bio
		.inner {
			float: left;

			@include max-screen(960px){
				display: table;
				padding: 0 45px 45px;
				width: 100%;
			}
			
			h2 {
				margin-top: 0;
			}

		} // End Bio

	} // End Middle Bio / Pictures

	
	.work-outer {
		margin-bottom: 0;
	}

	.work-grid {
		margin-bottom: 0;
		@include max-screen(767px){
			.work-type {
				text-align: center;
			}
		}
	} // End Work Grid

} // End Directors