  ////////////////////////////////
 // COLOR PALLETE ///////////////
////////////////////////////////

// Global Colors
$siteBg : #FFF;
$strokeColor : rgba(44, 187, 247, .5);
$textColor : #000;
$cBlue : #000;
// $cBlue : #2CBBF7;
$white: #FFF;
$lightWhite : #EFEFEF;
$darkGrey : #333;
$black : #000;

// Header Colors
$headerBg : rgba(18, 44, 67, 0.8);

// Footer Colors
$footerBg : $black;

// Menu Background
$menuBg : $black;

// Shadow
$darkShadow : rgba(0, 11, 20, 0.5);
$lightShadow: rgba(167, 220, 215, 0.4);

// Button Colors
$buttonBg : $black;
$buttonHoverBg : $siteBg;
$buttonColor : #BAE5F7;
$buttonHoverColor : #BEFCF7;