  ////////////////////////////////
 // TYPOGRAPHY //////////////////
////////////////////////////////


// Import Global Typeface
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

@font-face {
    font-family: 'directors_cut_pro_regular_2';
    src: urlurl('../../fonts/directorscutbold/directors_cut_pro_bold-webfont.eot');
    src: urlurl('../../fonts/directorscutbold/directors_cut_pro_bold-webfont.eot?#iefix') format('embedded-opentype'),
         urlurl('../../fonts/directorscutbold/directors_cut_pro_bold-webfont.woff2') format('woff2'),
         urlurl('../../fonts/directorscutbold/directors_cut_pro_bold-webfont.woff') format('woff'),
         urlurl('../../fonts/directorscutbold/directors_cut_pro_bold-webfont.ttf') format('truetype'),
         urlurl('../../fonts/directorscutbold/directors_cut_pro_bold-webfont.svg#directors_cut_pro_regular_2') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'directors_cut_proregular';
    src: urlurl('../../fonts/directorscut/directors_cut_pro-webfont.eot');
    src: urlurl('../../fonts/directorscut/directors_cut_pro-webfont.eot?#iefix') format('embedded-opentype'),
         urlurl('../../fonts/directorscut/directors_cut_pro-webfont.woff2') format('woff2'),
         urlurl('../../fonts/directorscut/directors_cut_pro-webfont.woff') format('woff'),
         urlurl('../../fonts/directorscut/directors_cut_pro-webfont.ttf') format('truetype'),
         urlurl('../../fonts/directorscut/directors_cut_pro-webfont.svg#directors_cut_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*
 * Main Typefaces being used
 */

$openSans : 'Open-Sans', sans-serif;
$directorsCut : 'directors_cut_proregular', serif;
$directorsCutBold : 'directors_cut_pro_regular_2', serif;
$icoMoon : 'icomoon';

/*
 * Emphasised/Italic Text
 */
em {
	font-style: italic;
}

/*
 * Bolded, Strong Text
 */
strong {
	font-weight: bold;
}
/*
* Lighter Text
*/
.lighter {
	color: rgba(0, 0, 0, .3);
}

@function strip-unit($num) {
	@return $num / ($num * 0 + 1);
}

@mixin font-size($size, $lineHeight: "") {
	@if $size == "small" {
		$size: $small-font-size;
	} @else if $size == "base" {
		$size: $base-font-size;
	} @else if $size == "medium" {
		$size: $medium-font-size;
	} @else if $size == "large" {
		$size: $large-font-size;
	} @else if $size == "xlarge" {
		$size: $xlarge-font-size;
	} @else if $size == "xxlarge" {
		$size: $xxlarge-font-size;
	} @else {
		$size: $size;
	}

	@if $lineHeight == "" {
		$lineHeight: ( strip-unit( $size ) * 1.25) / 24;
	} @else {
		$lineHeight: ( strip-unit( $size ) * $lineHeight) / 24;
	}

	@include set-font-size($size, $lineHeight);
}


@mixin mobile-font-size($mobileSize: "", $mobileLineHeight: "") {

	@if $mobileSize == "small" {
		$mobileSize: $small-font-size--mobile;
	} @else if $mobileSize == "base" {
		$mobileSize: $base-font-size--mobile;
	} @else if $mobileSize == "medium" {
		$mobileSize: $medium-font-size--mobile;
	} @else if $mobileSize == "large" {
		$mobileSize: $large-font-size--mobile;
	} @else if $mobileSize == "xlarge" {
		$mobileSize: $xlarge-font-size--mobile;
	} @else if $mobileSize == "xxlarge" {
		$mobileSize: $xxlarge-font-size--mobile;
	} @else {
		$mobileSize: $base-font-size--mobile;
	}

	@include device-size(mobile){

		@if $mobileLineHeight == "" {
			$mobileLineHeight: ( strip-unit( $mobileSize ) * 1.25) / 24;
		} @else {
			$mobileLineHeight: ( strip-unit( $mobileSize ) * $mobileLineHeight) / 24;
		}

		@include set-font-size($mobileSize, $mobileLineHeight);
	}
}
