  ////////////////////////////////
 // HEADER //////////////////////
////////////////////////////////

.header {
	// background: $headerBg;
	background: rgba(0, 0, 0, .9);
    @include box-shadow(1px 5px 10px rgba(0,0,0,.5));
    height: 45px;
	margin: 0 auto;
	// overflow: hidden;
	position: fixed;
	opacity: 1;
	transition: .5s;
    top: -65px;
	width: 100%;
	z-index: 1000;
	
	&.top { 
		opacity: 1; 
		top: 0;
	}

	.header-inner {
	    margin: 0 auto;
	    width: 100%;
	    padding: 5px 25px;

		.logo-container {
			padding-top: 2px;
			transition: .5s;
		    width: 140px;
		} // Logo Container

		.menu-icon { 
			margin: 7px 0 0 0;
			float: right; 
			small {
				margin-top: -3px;
			}
		}

	} // Header Inner

} // End Header