/********************************/
/* Global Site Color Variables */
/******************************/
//Global Background Color Default
// $light-beige:#fdf8ef;

// //Global link, button, and footer background color
// $light-blue: #2396de;


/********************************/
/* Global Site FONT Variables */
/******************************/

$icons: "Icomoon";
$sans: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$serif: Georgia, Times, "Times New Roman", serif;



