/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
	display: none !important;
	visibility: hidden;
}

/*
* Hide Element *
*/
.hide {
	display: none;
}
/*
* Block Element *
*/
.block {
	display: block;
}
/*
 * Clear children elements that are floating with hiding overflow on parent div
 */
.overflow-hidden { 
	overflow: hidden; 
}

/*
 * Float elements left
 */
.left {
	float: left;
}

/*
 * Float elements right
 */

.right {
	float: right;
}
/*
* No Margin Right
*/

.no-margin-right {
	margin-right: 0!important;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
	visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}
